/* You can add global styles to this file, and also import other style files */
*{
  padding:0;
  margin:0;
  border:0;
  box-sizing: border-box;
  color:antiquewhite;
}

body{
  background-image: linear-gradient(to right, rgba(26,53,83,255), rgba(104,27,40,255));
}
